@import '../index.scss';

:export {
  uibackground: $ui-background;
  borderColor: $ui-03;
  ui01: $ui-01;
  ui02: $ui-02;
  ui03: $ui-03;
  ui04: $ui-04;
  text01: $text-01;
  text02: $text-02;
  text03: $text-03;
  blue40: $blue-40;
  blue60: $blue-60;
  red60: $red-60;
}